.skeuomorphic{
  background:#efeeee;

  .card{
    background:#efeeee;
    border-color:rgba(255,255,255,.2);
    box-shadow:-6px -6px 16px rgba(255,255,255,.8),6px 6px 16px rgba(209,205,199,.5);
    padding:1em;
  }

  .btn-clear{
    color:#aaa;
  }

  .input-group-text{
    color:#6ba7a7;
    background:#dfe6e6;
    border-color:#dee0e0;
    text-shadow:-2px -2px 2px rgba(255,255,255,.5),1px 1px 1px rgba(209,205,199,.5);
  }

  input.form-control,
  textarea.form-control{
    background:#f3f3f3;
    text-shadow:-2px -2px 2px #fff,1px 2px 2px #d1cdc7;
    border-color:#eaeaea;
    -webkit-appearance:none;
  }

  input.form-control::placeholder,
  textarea.form-control::placeholder{
    color:#CCCCCC;
    text-shadow:-2px -2px 2px rgba(0,0,0,0.1), 1px 2px 2px #fff;
  }

  #add label.input-group-text{
    width:6em;
  }

  .footnote{
    color:#fff;
    text-shadow:-2px -2px 2px rgba(255,255,255,.7),1px 2px 2px #d1cdc7
  }
}