.skeuomorphic {
  background: #efeeee;
}
.skeuomorphic .card {
  background: #efeeee;
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.8), 6px 6px 16px rgba(209, 205, 199, 0.5);
  padding: 1em;
}
.skeuomorphic .btn-clear {
  color: #aaa;
}
.skeuomorphic .input-group-text {
  color: #6ba7a7;
  background: #dfe6e6;
  border-color: #dee0e0;
  text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(209, 205, 199, 0.5);
}
.skeuomorphic input.form-control,
.skeuomorphic textarea.form-control {
  background: #f3f3f3;
  text-shadow: -2px -2px 2px #fff, 1px 2px 2px #d1cdc7;
  border-color: #eaeaea;
  -webkit-appearance: none;
}
.skeuomorphic input.form-control::placeholder,
.skeuomorphic textarea.form-control::placeholder {
  color: #CCCCCC;
  text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.1), 1px 2px 2px #fff;
}
.skeuomorphic #add label.input-group-text {
  width: 6em;
}
.skeuomorphic .footnote {
  color: #fff;
  text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.7), 1px 2px 2px #d1cdc7;
}

.card {
  width: 100%;
  max-width: 960px;
}

.button-container {
  text-align: center;
}

.button-container,
input.form-control,
textarea.form-control {
  margin-bottom: 1em;
}

textarea.form-control {
  font-size: 0.8rem;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  min-height: 20em;
}

textarea#output {
  min-height: 40em;
}

body {
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
