@import "skeuomorphic";

.card{
  width:100%;
  max-width:960px;
}

.button-container{
  text-align: center;
}

.button-container,
input.form-control,
textarea.form-control{
  margin-bottom: 1em;
}

textarea.form-control{
  font-size: 0.8rem;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  min-height: 20em;
}

textarea#output{
  min-height: 40em;
}

body{
  font-size: 12px;
}